@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(/font/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Black;
    src: url(/font/Roboto-Black.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(/font/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto-Medium;
    src: url(/font/Roboto-Medium.ttf);
}

:root {
    --verde_btn: #2cc6c3;
    --roxo_footer: #343144;
    --branco: #eef1f1;
}


main {
    width: 100%;
    height: 100%;
}

nav {
    width: 100%;
    height: 85px;

    background-color: white;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: Roboto-Bold;
}




/*  NAV */




.nav-box1 {
    display: flex;
}
.nav-box1 h1 {
    font-family: Roboto-Black;
    font-size: 2.5rem;
    padding: 10px;
}
.nav-box1 ul {
    display: flex;
    align-items: center;
    margin: 2px 20px;
    cursor: pointer;
}
.nav-box1 li {
    padding: 10px 15px;
    color: grey;
    cursor: pointer;
}
.nav-box1 li:hover {
    color: black;
}

#btn-1 {
    padding: 12px 26px;
    border-radius: 50px;
    font-family: Roboto-Bold;

    border: 0px;

    background-color: white;
    color: rgba(128, 128, 128, 0.801);

    cursor: pointer;
}
#btn-1:hover {
    color: black;
}
#btn-2 {
    padding: 12px 26px;
    border-radius: 50px;
    font-family: Roboto-Bold;

    border: 0px;

    background-color: #2cc6c3;
    color: white;

    cursor: pointer;
}
#btn-2:hover {
    background-color: #abd4d4;
}

.btn {
    padding: 12px 26px;
    border-radius: 50px;
    font-family: Roboto-Bold;
    font-size: 1.4rem;

    border: 0px;
    

    background-color: #2cc6c3;
    color: white;

    cursor: pointer;
}
.btn:hover {
    background-color: #abd4d4;
}




/*BANNER*/




.banner {
    width: 100%;
    height: 500px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: Roboto-Bold;

    margin-left: 150px;
    margin-bottom: 40px;
}
.banner-text h1 {
    font-family: Roboto-Black;
    font-size: 5rem;
}
.banner-text p {
    font-size: 1.5rem;
    color: rgba(128, 128, 128, 0.801);
    font-family: Roboto-Medium;
    margin: 10px 0px;
}
.banner img {
    width: 700px;
}
.banner button {
    margin-top: 25px;
}




/*URL-BOX*/




.url-box {
    width: 1000px;
    height: 100px;

    background-image: url(/images/bg-boost-desktop.svg);
    background-position: center;
    background-color: #343144;

    margin: auto;
    margin-bottom: 50px;

    text-align: center;

    border-radius: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 10px 10px;
}
.url-box input {
    width: 680px;
    height: 45px;

    border-radius:5px;
    border: 0px;

    padding: 0px 20px;
}
.url-box button {
    padding: 12px 26px;
    border-radius: 10px;
    font-family: Roboto-Bold;
    font-size: 1.4rem;

    border: 0px;
    
    background-color: #2cc6c3;
    color: white;

    cursor: pointer;
}




/* Advanced Statistics */




.statistics-conteiner {
    width: 100%;
    height: 700px;

    background-color: #eef1f1;
}
.statistics-text {
    text-align: center;

    margin-top: 90px;
    margin-bottom: 60px;
}
.statistics-text h1 {
    font-family: Roboto-Black;
    font-size: 2.5em;
}
.statistics-text p {
    font-family: Roboto-Medium;
    font-size: 1em;
    color: rgba(128, 128, 128, 0.801);
}


.statistics-boxes {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.statistics-box {
    width: 220px;
    height: 180px;

    background-color: white;

    border-radius: 10px;
    text-align: left;

    padding: 20px;
}
.statistics-box h1 {
    font-size: 16px;
    font-family: Roboto-Black;
    margin-bottom: 5px;
}
.statistics-box p {
    font-size: 13px;
    font-family: Roboto-Medium;
    color: grey;
}
.statistics-box img {
    background-color: #343144;
    padding: 10px;
    border-radius: 50px;
}